* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, sans-serif;
}
body {
  background-color: rgb(189, 177, 255);
}
.Wrapper {
  width: 100%;
  height: 100vh;
}
.contentWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.purple {
  width: 100%;
  height: 200px;
  background-color: rgb(13, 1, 43);
}
.content {
  width: 60%;
  margin-top: 100px;
  padding: 25px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* @media only screen and (max-width: 977px) {
  .content {
    width: 43%;
    margin-top: 100px;
    padding: 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
  }
  input[type=text]{
    width: 80%;
  }
  input[type=button]{
    width: 20%;
  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
} */
input[type=text] {
  width: 20%;
  height: 3 0px;
  margin: 20px 30px;
  padding: 5px;
}
input[type=button] {
  padding: 7px 30px;
  margin-left: 40px;
  border: 1px solid gray;
  border-radius: 3px;
  color: white;
  background-color: black;
}
input[type=button]:hover {
  background-color: rgb(8, 2, 43);
  box-shadow: 0 12px 16px 0 rgba(63, 63, 63, 0.24),0 17px 50px 0 rgba(66, 66, 66, 0.19);
}
h1 {
  margin-top: 30px;
}
.comments {
  width: 90%;
  margin: 20px;
}
.buttonStyle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.submitted {
  width: 100%;
  border: 1px  dotted gray;
  border-radius: 10px;
  margin-top: 20px;
}
.trash {
  width: 30px;
  margin: 0 20px ;
}
.editButton {
  width: 8%;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: black;
}
.editButton:hover {
  background-color: rgb(19, 13, 53);
  box-shadow: 0 12px 16px 0 rgba(63, 63, 63, 0.24),0 17px 50px 0 rgba(66, 66, 66, 0.19);
}
.likeDislike {
  width: 20px;
  margin: 10px;
}
.submittedCm {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px 20px;
}
.submittedCm input {
  width: 30%;
  padding: 10px;
  margin: 10px 0 10px 18px;
}
.submittedCm textarea {
  width: 93%;
 margin: 10px 0 0 15px;
}
h6 {
  margin-right: 10px;
}
h5 {
  font-size: 1rem;
}